In [84]:
import pandas as pd
df=pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [158]:
#printing columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [92]:
#head method
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [93]:
#tail method

df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [94]:
#data slicing
df[1:4]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [127]:
tmax,wmax=df[['temperature','windspeed']].max()
tmin,wmin=df[['temperature','windspeed']].min()
tavg,wavg=df[['temperature','windspeed']].mean()

print('Maximum temperature :',tmax)
print('Maximum Windspeed :',wmax)
print('Minimum temperature :',tmin)
print('Minimum Windspeed :',wmin)
print('Average temperature :',tavg)
print('Average Windspeed :',wavg)

Maximum temperature : 35
Maximum Windspeed : 7
Minimum temperature : 24
Minimum Windspeed : 2
Average temperature : 30.333333333333332
Average Windspeed : 4.666666666666667

In [153]:
#printing maximum temperature details
print('Maximum temperature deatils:')
df[df['temperature']==df['temperature'].max()]

Maximum temperature deatils:

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [157]:
print('Day when temperature was high')
df[['day','temperature','event']]#[df['temperature']==df['temperature'].max()]

Day when temperature was high

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow
3  1/4/2017           24   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [124]:
#minimum temperature details
print('minimum temperature details')
df[df.temperature==df.temperature.min()]

minimum temperature details

        day  temperature  windspeed event
3  1/4/2017           24          7  Snow

In [182]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [181]:
#loc to access particular row
df2=pd.read_csv('weather_data.csv')
print(df2)
df2.loc[2]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

day            1/3/2017
temperature          28
windspeed             2
event              Snow
Name: 2, dtype: object

In [188]:
df[df['event']=='Sunny']

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
5  1/6/2017           31          2  Sunny

In [221]:
df[df['event']=='Rain']

   level_0  index event  temperature  windspeed
0        0      0  Rain           32          6
4        4      4  Rain           32          4

In [229]:

df2

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [230]:
df2.reset_index(inplace=True)

In [231]:
df2

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2