In [5]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as py
Gm=pd.read_csv('gapminder.csv')
Gm

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [18]:
print('Number of rows and columns of the table:')
Gm.shape

Number of rows and columns of the table:

(1704, 6)

In [19]:
print('Columns of the given data :')
Gm.columns

Columns of the given data :

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [15]:
print('Data type of each column :')
Gm.dtypes

Data type of each column :
country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [17]:
print('Information of the given data')
Gm.info()

Information of the given data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
year         1704 non-null int64
pop          1704 non-null float64
continent    1704 non-null object
lifeExp      1704 non-null float64
gdpPercap    1704 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

In [24]:
print('Country names of the given data')
Gm['country']

Country names of the given data

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [25]:
Gm['country'].head(20)

0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12        Albania
13        Albania
14        Albania
15        Albania
16        Albania
17        Albania
18        Albania
19        Albania
Name: country, dtype: object

In [37]:
cou=Gm['country'].tail(20)
cou

1684      Zambia
1685      Zambia
1686      Zambia
1687      Zambia
1688      Zambia
1689      Zambia
1690      Zambia
1691      Zambia
1692    Zimbabwe
1693    Zimbabwe
1694    Zimbabwe
1695    Zimbabwe
1696    Zimbabwe
1697    Zimbabwe
1698    Zimbabwe
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [27]:
Gm.columns

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [ ]:
'''Lets print contry,year and population'''

In [36]:
subset=Gm[['country','year','pop']].head(20)
subset

        country  year         pop
0   Afghanistan  1952   8425333.0
1   Afghanistan  1957   9240934.0
2   Afghanistan  1962  10267083.0
3   Afghanistan  1967  11537966.0
4   Afghanistan  1972  13079460.0
5   Afghanistan  1977  14880372.0
6   Afghanistan  1982  12881816.0
7   Afghanistan  1987  13867957.0
8   Afghanistan  1992  16317921.0
9   Afghanistan  1997  22227415.0
10  Afghanistan  2002  25268405.0
11  Afghanistan  2007  31889923.0
12      Albania  1952   1282697.0
13      Albania  1957   1476505.0
14      Albania  1962   1728137.0
15      Albania  1967   1984060.0
16      Albania  1972   2263554.0
17      Albania  1977   2509048.0
18      Albania  1982   2780097.0
19      Albania  1987   3075321.0

In [41]:
print('column 0 info')
Gm.loc[0]

column 0 info

country      Afghanistan
year                1952
pop          8.42533e+06
continent           Asia
lifeExp           28.801
gdpPercap        779.445
Name: 0, dtype: object

In [43]:
print('column 99 info')
Gm.loc[99]

column 99 info

country       Bangladesh
year                1967
pop          6.28219e+07
continent           Asia
lifeExp           43.453
gdpPercap        721.186
Name: 99, dtype: object

In [46]:
print('Slicing from 10:20')
Gm.loc[10:20]

Slicing from 10:20

        country  year         pop continent  lifeExp    gdpPercap
10  Afghanistan  2002  25268405.0      Asia   42.129   726.734055
11  Afghanistan  2007  31889923.0      Asia   43.828   974.580338
12      Albania  1952   1282697.0    Europe   55.230  1601.056136
13      Albania  1957   1476505.0    Europe   59.280  1942.284244
14      Albania  1962   1728137.0    Europe   64.820  2312.888958
15      Albania  1967   1984060.0    Europe   66.220  2760.196931
16      Albania  1972   2263554.0    Europe   67.690  3313.422188
17      Albania  1977   2509048.0    Europe   68.930  3533.003910
18      Albania  1982   2780097.0    Europe   70.420  3630.880722
19      Albania  1987   3075321.0    Europe   72.000  3738.932735
20      Albania  1992   3326498.0    Europe   71.581  2497.437901