In [1]:
import pandas as pd

In [2]:
height = pd.DataFrame({'Height(cms)':[186, 173, 169, 178, 186]})
height

   Height(cms)
0          186
1          173
2          169
3          178
4          186

In [3]:
weight = pd.DataFrame({'Weight(Kgs)':[78, 71, 62, 80, 92]})
weight

   Weight(Kgs)
0           78
1           71
2           62
3           80
4           92

### **Concat (Columns) Height and Weight**

In [4]:
height_and_weight = pd.concat([height, weight], axis=1)
height_and_weight

   Height(cms)  Weight(Kgs)
0          186           78
1          173           71
2          169           62
3          178           80
4          186           92

In [5]:
height_and_weight1 = pd.DataFrame({
    'Height(cms)':[188, 176, 192],
    'Weight(Kgs)':[67, 59, 74]
})
height_and_weight1

   Height(cms)  Weight(Kgs)
0          188           67
1          176           59
2          192           74

In [6]:
height_and_weight2 = pd.DataFrame({
    'Height(cms)':[166, 189, 172],
    'Weight(Kgs)':[58, 72, 65]
})
height_and_weight2

   Height(cms)  Weight(Kgs)
0          166           58
1          189           72
2          172           65

### **Concat (Rows) height_and_weight1 and height_and_weight2**

In [7]:
new_height_and_weight = pd.concat([height_and_weight1, height_and_weight2], axis=0)
new_height_and_weight

   Height(cms)  Weight(Kgs)
0          188           67
1          176           59
2          192           74
0          166           58
1          189           72
2          172           65