In [1]:
#pip install pandas
#Importing read_csv method from pandas module
from pandas import read_csv

In [2]:
#Reading "imdb_top_1000.csv" dataset
df = read_csv('imdb_top_1000.csv')
df.shape

(1000, 16)

In [3]:
print("Columns:")
df.columns

Columns:

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [4]:
data = df[['Series_Title','IMDB_Rating']]

#Query to get movies rated 9 or above
query = data['IMDB_Rating'] >= 9

data[query]

               Series_Title  IMDB_Rating
0  The Shawshank Redemption          9.3
1             The Godfather          9.2
2           The Dark Knight          9.0
3    The Godfather: Part II          9.0
4              12 Angry Men          9.0