In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.Series([1,2,3,np.nan,5])
#Before interpolate
df

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [3]:
#After interpolate
df.interpolate(method='linear') #Default parameter

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [4]:
df = pd.Series([1,2,4,np.nan,16])
#Before interpolate
df

0     1.0
1     2.0
2     4.0
3     NaN
4    16.0
dtype: float64

In [5]:
#After interpolate
df.interpolate(method='polynomial',order=2)

0     1.000000
1     2.000000
2     4.000000
3     8.578947
4    16.000000
dtype: float64

In [6]:
df = pd.DataFrame([(0, np.nan, -1, 1),
                   (np.nan, 2, np.nan, np.nan),
                   (2, 3, np.nan, 9),
                   (np.nan, 4, -4, 16)],
                  columns=list('abcd'))
#Before interpolate
df

     a    b    c     d
0  0.0  NaN -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

In [7]:
#After interpolate
df.interpolate(method='linear',limit_direction='forward',axis=0)
#similarly use limit_direction = 'backward' or 'both'
#default parameters

     a    b    c     d
0  0.0  NaN -1.0   1.0
1  1.0  2.0 -2.0   5.0
2  2.0  3.0 -3.0   9.0
3  2.0  4.0 -4.0  16.0

In [8]:
df = pd.Series(['Hello World',np.nan,np.nan,np.nan])
df

0    Hello World
1            NaN
2            NaN
3            NaN
dtype: object

In [9]:
#After interpolate with limit
df.interpolate(method='pad',limit=1)

0    Hello World
1    Hello World
2            NaN
3            NaN
dtype: object